.dashboard-home-container{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
   overflow-x:hidden;
   color: white;
    

}

.dashboardhome-header h1{
    padding-left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}
.video-card-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top:20px;
    margin-left: 50px;
    padding: 0;    
}
.video-card{
    width: 316px;
    height: 170px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: transform 0.4s ease-in-out;
}
.video-card:hover{
    transform: scale(1.10);
}
#Laguage{
    background-color: #455A64;
}
#Genre{
    background-color: rgb(29, 44, 39);
}
#Movies{
    background-color: #201045;
}
#WebSeries{
    background-color:#DD2C00;
}
.video-card h6{
    font-size: 30px;
}
@media screen and ( max-width:460px){
    .dashboardhome-header h1{
    padding-left: 20px;
    font-size: 22px;
    font-weight: 400;
}
.video-card-gallery{
    gap: 20px;
    margin-top:20px;
    margin-left: 20px;
    
}
 .video-card{
    width: 190px;
    height: 110px;
    border-radius: 6px;
}
}