.dashboard-home-container{
    padding-top: 30px;
    padding-left: 100px;
}
.dashboardhome-header h1{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}
.video-card-gallery{
    margin-top:20px;
    padding: 0;
    width: 100%;
    height: 100%;
}
.video-card{
    width: 316px;
    height: 170px;
    background-color: #212529;
    border-radius: 8px;
}