.dashboard-home-container{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
   overflow-x:hidden;
   color: white;
    

}

.dashboardhome-header h1{
    padding-left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}
.video-card-gallery{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top:20px;
    margin-left: 50px;
    padding: 0;
   

    
}
.video-card{
    width: 316px;
    height: 170px;
    background-color: #212529;
    border-radius: 8px;
}
