.genre-container{
    margin: 0;
    /* padding: 0 20px 0 20px; */
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
}
.genre-header{
        padding: 10px 0 0 10px;
}
.genre-subtitle{
    background-color: #303030;
    padding: 5px;
}
.genre-table{
    padding: 10px 10px;
    box-shadow: 0px 0px 5px rgb(63, 63, 63);
    background-color: rgb(63, 63, 63);
}
table{
    width: 100%;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
    
    
}
thead #headers{
    background-color: #303030;
    color: rgb(255, 255, 255);
}

table tr, th, td{
      text-align: center;
      padding: 10px;
      
}
tr:nth-child(odd){
    color: black;
}
tr:nth-child(even) {
  background-color: #dad6d6;
  color: black;
}

/* @media screen {
    
} */