.language-container{
  width: 100%;
  height: 100%;
  padding: 20px 0 0 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
.form{
    
    box-shadow: 0px 0px 5px rgb(63, 63, 63);
}
.form .language-subtitle{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-bottom: #303030;
}
.form .input{
    
    background-color: rgb(63, 63, 63);
    border: none;
     border: none;
    outline: none;
  
   
}
.form .input::placeholder{
    color: rgb(255, 255, 255, 0.4);
}
.contianer{
    margin-top: 30px;
    padding: 10px 5px;
}
.language-table{
    padding: 10px 10px;
    box-shadow: 0px 0px 5px rgb(63, 63, 63);
    background-color: rgb(63, 63, 63);
}
.language-table table{
    width: 100%;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
    
    
}
thead #headers{
    background-color: #303030;
    color: rgb(255, 255, 255);
}

table tr, th, td{
      text-align: center;
      padding: 10px;
      
}
tr:nth-child(odd){
    color: black;
}
tr:nth-child(even) {
  background-color: #dad6d6;
  color: black;
}
