.movies{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    }
.filter-movie{
     padding: 10px  20px 15px 20px;
}
.fitlering-fields{
    display: flex;
    flex-direction: column;
   
}
.fitlering-fields label{
    font-size: 22px;
    margin-bottom: 5px;
}
.fitlering-fields input{
    text-align: center;
    font-size: 18px;
    padding: 4px 0;
    border:  none;
    outline: none;
}
.fitlering-fields input::placeholder{
    text-align: center;
    font-size: 18px;
    padding: 4px 0;
}
.filter-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}
.filter-btn button{
    height: fit-content;
    width: 150px;
    margin-top: 35px;
}
.movie-table  table{
    width: 100%;
    background-color: rgb(244, 244, 244);
    
    
}
.movie-table thead {
    background-color: #D4344A;
    color: rgb(255, 255, 255);
}

.movie-table table tr, th, td{
      text-align: center;
      padding: 10px;
      
}
.movie-table tr:nth-child(odd){
    color: black;
}
.movie-table tr:nth-child(even) {
  background-color: #dad6d6;
  color: black;
}
.movie-form form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 5px;
}
.movies input,select{
    border: none;
    outline: none;
    padding:5px  5px ;
    border-radius: 5px;
}
.movies textarea{
    padding: 0px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}