@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    height: 80px;
    background-color: #16213D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.brand h1{
    color: #D4344A;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
}
.admin h2{
    color: white;
     font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
}
.userdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.userImg{
    width: 60px;
    height: 60px;
    background-color: #E48783;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;

}
.dropdown{
    width: 290px;
    height: 50px;
}
.dropdown #dropdown{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;   
    outline: none;
    

}