.sidebar {
  width: 310px;
  height: 100vh;
  background-color: #0d1b36;
  color: white;
  position: fixed;
  margin: 0;
  padding: 0;
}
.sidebar h2{
  color: #D4344A;
  font-size: 42px;
}
.logo{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 50px;
}
.sidebar li {
  background-color: #0F1724;
  height: 40px;
  font-size: 26px;
}
li a .bi{
  width: 20px;
  height: 20px;
  color: white;
  /* background-color: white; */
}
.sidebar a {
  height: 40px;
   display: block;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  padding-left: 30px;
  gap: 15px;
  font-size: 26px;
   
}
.sidebar a i{
  font-size: 20px;
}
.sidebar a.active {
  
  /* display: block; */
   background-color: #D4344A;
}
.logout {
  text-align: center;
  
  width: 100%;
  position: absolute;
  bottom: 48px;
   /* height: 40px; */
  /* left: 20px; */
}
.logout button{
  width: 100%;
  height: 40px;
  color: white;
  background-color: #0F1724;
  border: none;
  outline: none;
  font-size: 26px;
  cursor: pointer;
}

@media screen and (max-width:968px) {
  .sidebar {
  width: 180px;
  background-color: #0d1b36;

}
.sidebar ul{
   gap: 22px;
}

.sidebar li a{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 20px;
  transition: height 2s;
}
.sidebar li a.active{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* height: 20px; */
}
}


