.sidebar {
  width: 310px;
  height: 100%;
  background-color: #0d1b36;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.sidebar h2{
  color: #D4344A;
  font-size: 42px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 50px;
}
.sidebar li {
  background-color: #0F1724;
  height: 40px;
  font-size: 26px;
}
li a .bi{
  width: 20px;
  height: 20px;
  color: white;
}
.sidebar a {
  height: 40px;
   display: block;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  padding-left: 30px;
  gap: 20px;
  font-size: 26px;
   
}
.sidebar a i{
  font-size: 20px;
}
.sidebar a.active {
  
  /* display: block; */
   background-color: #D4344A;
}
.logout{
  text-align: center;
  font-size: 26px;
}
.logout button{
  width: 100%;
  height: 40px;
  color: white;
  background-color: #0F1724;
  border: none;
  outline: none;
  font-size: 26px;
  cursor: pointer;
}

@media  screen and (max-width:768px) {
  .sidebar{
    width: 70px;
  }
  .logout span{
    display: none;
  }
}


