.dashboard-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.dashboard-header {
  height: 100px;
  background-color: #0d1b36;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.dashboard-header .logo h2{
  color: #D4344A;
  font-size: 42px;
  font-weight: 700;
  font-style: bold;
}
.dashboard-main {
 display: flex;
}
.sidebar-block{
  height: 100%;
}
.menu{
  display: none;
}
.user-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-section .profile-circle {
  font-family: "Mukta Mahee", sans-serif;
  width: 50px;
  height: 50px;  
  background-color: #E48783;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
}
.user-section .profile-circle img{
  font-family: "Mukta Mahee", sans-serif;
  width: 50px;
  height: 50px;  
  background-color: #E48783;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
}

.dropdown{
  padding: 0;
  margin: 0;
  position: relative;
  width: 290px;
  gap: 10px;
  background-color: white;
  height: 40px;
  color: black;
}
.selectDropDown-section{
  position: absolute;
  left: 0;
  top: 0;
  justify-content: space-around;
}
.selectDropDown{
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selectDropDown span{
  font-size: 18px;
}
.dropdown-content{
  width:  320px;
  position: absolute;
  left: 0;
  top: 110%;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
}
.dropdown-content li{
  width: 100%;
  list-style-type:none;
  padding: 8px 0;
 text-align: center;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
.dropdown-content li:hover{
 color: #fff;
 background-color: #0d1b36;
}

.dashboard-content{
  height: calc(100vh - 145px);
}
footer {
  height: 100px;
  background-color: #0d1b36;
  color: white;
  text-align: right;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 30px; */
}

.dropdownactivecontainer{
  position: fixed;
  top: 90px;
  right: 50px;
  z-index: 99;
  padding: 10px;
  
  border: 1px solid black;
  background-color:white;
}

@media screen and ( max-width:1024px){

.dropdown{ 
  width: 220px;

}
.selectDropDown{
  width: 220px;
}
.dropdown-content{
  width:  220px;
  
}
.dropdown-content li{
 
  padding: 6px 0;
 text-align: center;
 
}
}

@media screen and (max-width:768px) {
  .dashboard-header .logo h2{
  font-size: 30px;
  font-weight: 600;
}
.user-section .profile-circle {
   width: 31px;
  height: 31px;
}
.user-section .profile-circle img {
  width: 31px;
  height: 31px;  
  font-size: 15px;
  font-weight: 500;
}

.dropdown{
  width: 160px;
  height: 33px;
}
.selectDropDown {
  width: 160px;
}
.dropdown-content{
  width:  160px;
}
}
@media screen and (max-width:560px) {
  .dashboard-header .logo h2{
  font-size: 25px;
  font-weight: 500;
}
.user-section .profile-circle {
   width: 20px;
  height: 20px;
}
.user-section .profile-circle img {
  width: 20px;
  height: 20px;  
  
  font-size: 11px;
  font-weight: 500;
}

.selectDropDown span{
  font-size: 9px;
  
}
.dropdown-content{
  width:  320px;
  position: absolute;
  left: 0;
  top: 110%;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
}
.dropdown-content li{
  padding: 4px 0;
  text-align: center;
  font-weight:400;

}
.dropdown{
  width: 80px;
  height: 25px;
  gap: 5px;
}
.selectDropDown {
  width: 80px;
  height: 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-content{
  width:  80px;
  display: flex;
  gap: 0px;
}
.dropdown-content li{
  font-size: 9px;
}

}

  
