.dashboard-container {
  display: flex;
}
.dashboard-main {
  margin-left: 300px;
  width: calc(100% - 300px);
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dashboard-header {
  height: 100px;
  background-color: #0d1b36;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.user-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-section .profile-circle{
  font-family: "Mukta Mahee", sans-serif;
  width: 50px;
  height: 50px;  
  background-color: #E48783;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
}

.dropdown{
  padding: 0;
  margin: 0;
  position: relative;
  width: 290px;
  gap: 10px;
  background-color: white;
  height: 40px;
  color: black;
}
.selectDropDown-section{
  position: absolute;
  left: 0;
  top: 0;
  justify-content: space-around;
}
.selectDropDown{
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selectDropDown span{
  font-size: 18px;
}
.dropdown-content{
  width:  290px;
  position: absolute;
  left: 0;
  top: 110%;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
}
.dropdown-content li{
  width: 100%;
  list-style-type:none;
  padding: 8px 0;
 text-align: center;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
.dropdown-content li:hover{
 color: #fff;
 background-color: #0d1b36;
}

.dashboard-content {
  flex: 1;
  /* padding: 20px; */
}
footer {
  background-color: #0d1b36;
  color: white;
  text-align: right;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 30px; */
}

.dropdownactivecontainer{
  position: fixed;
  top: 90px;
  right: 50px;
  z-index: 99;
  padding: 10px;
  
  border: 1px solid black;
  background-color:white;
}