.Register{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.411);
  background-blend-mode: overlay; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-block{
    width: 540px;
    height: 677px;
    background-color: #262626;
    border-radius: 30px;  
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.form-block form{
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .image-block{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.profile .file-upload-loc{
    width: 160px;
    height: 40px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.profile .file-upload-loc label{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    cursor: pointer;
}

.Register #field{
    width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top:20px ;
}
.Register #field label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    width: 141px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing:0%;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
}
.Register #field input{
  width: 312px;
  height: 46px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 15px;
}
.Register #field input::placeholder{
  font-weight: 400;
  font-size: 13px;
  /* line-height: 27px; */
  border-radius: 10px;
  border: none;
  outline: none;
  color: #6C6C6C;
  /* padding-left:0.999px; */
}

.Register #sign-btn{
    width: 201px;
    height: 37px;
    background-color: #F51717;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 25px;
    cursor: pointer;
    /* text-align: center; */
}

 .Register #sign_in{
    width: 194px;
    height: 14px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.Register #sign_in span{
    width: 112px;
    height: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 3%;
    font-size: 12px;
}
.Register #sign_in a{
    width: 78px;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-decoration: underline;
    color: #1E80C7;
}

.error{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: red;
}

/* media queries ...for response for all screens */

@media screen and (max-width: 1024px){
/* .Register{
  width: 100%;
} */
.form-block{
    width: 482.07px;
    height: 571px;
    border-radius: 30px;  
}
.profile .image-block{
    width: 83px;
    height: 83px;
}
.profile .file-upload-loc{
    width: 134px;
    height:33px;
    border-radius: 8px;
}
.profile .file-upload-loc label{
    font-size: 13px;
    line-height: 22px;
}
.Register #field label{
    width: 174px;
    height: 16px;
    font-weight: 500;
    font-size: 13px;

}
.Register #field input{
  width: 259px;
  height: 38px;
  border-radius: 8px;
  padding-left: 15px;
}
 .Register #field input::placeholder{
  font-weight: 400;
  font-size: 9px;
  line-height: 22px;
}

#sign-btn{
    width: 150px;
    height: 27px;
    border-radius: 8px;
    font-size:18px;
    line-height: 100%;
    margin-top: 20px;

}
.Register #sign_in{
    width:200spx;
    height: 10px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
 .Register #sign_in span{
    width: 90px;
    height: 10px;
    font-weight: 400;
    font-size: 7px;
    line-height: 100%;
    letter-spacing: 3%;
    font-size: 12px;
}
.Register #sign_in a{
    /* width: 90px; */
    height: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1%;
}

}
@media screen and (max-width:768px) {
    .form-block{
    width: 380px;
    height: 440px;
    border-radius: 30px;  
}
.profile .image-block{
    width: 65px;
    height: 65px;
}
.profile .file-upload-loc{
    width: 105px;
    height:27px;
    border-radius: 5px;
}
.profile .file-upload-loc label{
    font-size: 11px;
    line-height: 18px;
}
.Register #field{
    width: 100%;
  margin-top:12px ;
}

.Register #field label{
    width: 84px;
    height: 10px;
    font-weight: 500;
    font-size: 9px;

}
.Register #field input{
  width: 225px;
  height: 30px;
  border-radius: 8px;
  padding-left: 7px;
}
.Register #field input::placeholder{
  font-weight: 400;
  font-size: 7px;
  line-height: 18px;
}
.error{

    font-size: 8px;
    color: red;
}
.Register #sign-btn{
    width: 110px;
    height: 24px;
    border-radius: 6px;
    font-size:14px;
    line-height: 100%;
    margin-top: 20px;

}
.Register #sign_in{
    width:200px;
    height: 8px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.Register #sign_in span{
    width: 90px;
    height: 10px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3%;
    font-size: 9px;
}
.Register #sign_in a{
    /* width: 90px; */
    height: 10px;
    font-size: 9px;

}



}
@media screen and (max-width:560px) {
    .form-block{
    width: 320px;
    height: 400px;
    border-radius: 20px;  
}
.profile .image-block{
    width: 45px;
    height: 45px;
}
.profile-image{
    width: 25px;
    height: 25px;
}
.profile .file-upload-loc{
    width: 60px;
    height:20px;
    border-radius: 3px;
}
.profile .file-upload-loc label{
    font-size: 6px;
    line-height: 10px;
}
#field{
    width: 100%;
  margin-top:10px ;
}
#field label{
    width: 75px;
    height: 10px;
    font-weight: 500;
    font-size: 8px;

}
#field input{
  width: 150px;
  height: 20px;
  border-radius: 5px;
  padding-left: 7px;
}
#field input::placeholder{
  font-weight: 400;
  font-size: 7px;
  line-height: 14px;
}

#sign-btn{
    width: 90px;
    height: 20px;
    border-radius: 4px;
    font-size:11px;
    line-height: 100%;
    margin-top: 20px;

}
#sign_in{
    width:150px;
    height: 6px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
#sign_in span{
    width: 90px;
    height: 8px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    font-size: 7px;
}
#sign_in a{
    /* width: 90px; */
    height: 8px;
    font-size: 7px;

}



}
@media screen and (max-width:420px) {
    .form-block{
    width: 280px;
    height: 380px;
    border-radius: 20px;  
}
.profile .image-block{
    width: 45px;
    height: 45px;
}
.profile-image{
    width: 25px;
    height: 25px;
}
.profile .file-upload-loc{
    width: 60px;
    height:20px;
    border-radius: 3px;
}
.profile .file-upload-loc label{
    font-size: 6px;
    line-height: 10px;
}
.Register #field{
    width: 100%;
  margin-top:10px ;
}
.Register #field label{
    width: 75px;
    height: 10px;
    font-weight: 500;
    font-size: 8px;

}
.Register #field input{
  width: 150px;
  height: 20px;
  border-radius: 5px;
  padding-left: 7px;
}
.Register #field input::placeholder{
  font-weight: 400;
  font-size: 7px;
  line-height: 14px;
}

.Register #sign-btn{
    width: 90px;
    height: 20px;
    border-radius: 4px;
    font-size:11px;
    line-height: 100%;
    margin-top: 20px;

}
.Register #sign_in{
    width:150px;
    height: 6px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.Register #sign_in span{
    width: 90px;
    height: 8px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    font-size: 7px;
}
.Register #sign_in a{
    /* width: 90px; */
    height: 8px;
    font-size: 7px;

}



}